<header class="navbar">
  <section class="navbar-section">
    <LinkTo @route="index" class="navbar-brand">
      {{t "project-name"}}
    </LinkTo>
  </section>
  <section class="navbar-section">
    <div class="tab tab-block">
      <div class="tab-item">
        <LinkTo @route="update" @model="true">
          {{t "navigation-bar.update"}}
        </LinkTo>
      </div>
    </div>
    <div class="input-group input-inline">
      <Input @type="text" class="form-input" @value={{this.userName}} @enter={{action this.goToUser}} placeholder={{t "navigation-bar.username"}} />
      <button type="button" class="btn btn-primary input-group-btn" onclick={{this.goToUser}}>
        {{t "navigation-bar.search"}}
      </button>
    </div>
  </section>
</header>
{{yield}}