{{#if showToast}}
  <div class="toast toast-{{type}}">
    <button class="btn btn-clear float-right" {{action "clearToast"}}></button>
    {{message}}
  </div>
{{/if}}

<div class="columns">
  <div class="column col-4 col-mx-auto">
    <h4 class="text-center">
      {{if found (t "update-page.title_update") (t "update-page.title_not_found")}}
    </h4>
    <p class="text-center">{{t "update-page.update_hint"}}</p>
    <div class="input-group">
      <div class="column col-4 col-mx-auto">
        {{input
            id="user-update"
            class="form-input"
            type="text"
            value=userName
            enter=(action "updateUser")
            placeholder=(t "update-page.username")
        }}
      </div>
    </div>
    <button
        class="btn btn-primary input-group-btn p-centered update-btn"
      {{action "updateUser"}}
    >
      {{t "update-page.update"}}
    </button>
  </div>
</div>