<div class="container">
  <div class="columns">
    <div class="column col-12">
      {{#if this.modelPresent}}
        <div class="form-group columns ml-10">
          <select
            class="form-select column col-2 col-mx-auto"
            onchange={{action this.setSort value="target.value"}}
            title={{t "sorting.title"}}
          >
            {{#each this.sortingOptions as |sortOpt|}}
              <option value={{sortOpt}}>
                {{t (concat "sorting." sortOpt)}}
              </option>
            {{/each}}
          </select>
          <select
            class="form-select column col-2 col-mx-auto"
            onchange={{action this.setLang value="target.value"}}
            title={{t "language-select.select"}}
          >
            {{#each this.languageOptions as |langOpt|}}
              <option value={{langOpt}}>
                {{t (concat "title." langOpt)}}
              </option>
            {{/each}}
          </select>
        </div>
        <AmchartChart @data={{this.model}} @sort={{this.sort}} @lang={{this.lang}}/>
      {{/if}}
    </div>
  </div>
</div>