<div class="container">
  <div class="columns">
    <div class="column col-12">
      {{#if model}}
        <div class="form-group columns ml-10">
          <select
            class="form-select column col-2 col-mx-auto"
            onchange={{action setSort value="target.value"}}
            title={{t "sorting.title"}}
          >
            {{#each sortingOptions as |sortOpt|}}
              <option value={{sortOpt}}>{{t (concat "sorting." sortOpt)}}</option>
            {{/each}}
          </select>
          <select
            class="form-select column col-2 col-mx-auto"
            onchange={{action setLang value="target.value"}}
            title={{t "language-select.select"}}
          >
            {{#each languageOptions as |langOpt|}}
              <option value={{langOpt}}>{{t (concat "title." langOpt)}}</option>
            {{/each}}
          </select>
        </div>
        {{amchart-chart data=model sort=sort lang=lang}}
      {{/if}}
    </div>
  </div>
</div>